.form {
   padding-bottom: 32px;
}

.formHeader {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 18px 0 24px;
}

.formHeaderButtonSection {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 4px;
}

.imageSection {
   max-width: 100%;
   overflow: hidden;
}

.imageStyle {
   width: 100%;
   height: auto;
}

.nameStyle {
   margin-top: 15px;
   margin-bottom: 20px;
}
