.mainWrapper {
   max-width: 375px;
   border: 1px salmon solid;
   padding-inline: 16px;
}

.form {
   padding: 18px 0 32px;
}

.formHeader {
   display: flex;
   align-items: center;
   justify-content: space-between;

   margin: 18px 0 24px;
}

.formHeaderButtonSection {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 4px;
}

.imageSection {
   max-width: 100%;
   overflow: hidden;
}

.imageStyle {
    width: 100%; 
    height: auto; 
}
