:root {
   /* colors */
   --color-light-cake: #ffe5b2;
   --color-dark-cake: #face90;

   --color-green: #004b03;
   --color-dark-green: #002902;

   --color-gray: #d6d6d6;
   --color-gray-light: #e8e8e8;
   --color-gray-dark: #969696;

   --color-gray-background: #f9f9f9;

   --color-white: #ffffff;

   /* effects */
   --radius-button: 4px;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: Poppins;
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   letter-spacing: 0;
}

#root {
   display: flex;
   justify-content: center;
   min-height: 100vh;
}

h1 {
   font-family: Barrio;
   font-weight: 400;
   font-size: 42px;
   line-height: 34px;
   letter-spacing: 0;
}

h2 {
   font-family: Barriecito;
   font-weight: 400;
   font-size: 30px;
   line-height: 24px;
   letter-spacing: 0;

   display: flex;
   align-items: center;
   gap: 8px;
}

h3 {
   font-family: Poppins;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0;
}

button {
   font-family: Poppins;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0;
   border-radius: var(--radius-button);
   cursor: pointer;
}

button:disabled {
   opacity: 0.5;
   cursor: not-allowed;
}
