.inputTopWrapper {
   margin-bottom: 24px;
}

.titleStyle {
   margin-bottom: 7px;
}

.inputWrapper {
   padding: 16px;
   background-color: var(--color-gray-background);
   display: flex;
   align-items: flex-start;
   gap: 12px;
   border-radius: 4px;
   border: 1px solid;
}

.inputTopWrapper:last-child {
   margin-bottom: 0;
}

.lockedStyle {
   border-color: transparent;
}

.unlockedStyle {
   border-color: var(--color-gray);
}

.iconWrapper {
   width: 34px;
   height: 34px;
}

.inputStyle {
   color: var(--color-dark-green);
   background: transparent;
   border: none;
   resize: none;
   overflow: hidden;
   width: 100%;
   height: 40px;

   font-family: Poppins;
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   letter-spacing: 0;
}

.inputStyle:focus-visible {
   outline: none;
}

.inputStyle::placeholder {
   color: var(--color-gray-dark);
<<<<<<< HEAD:src/UI/Input.module.css
=======
}

.simpleInputStyle{
   height: 20px
>>>>>>> main:src/components/UI/Input.module.css
}
